@import url(../../../fonts/fonts.css);
.lead__title {
    font-family: "Inter-Black", "Arial", sans-serif;
    text-align: center;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 32px;
}