.place_position_last {
    margin-bottom: 92px;
}

@media all and (max-width: 768px) {
    .place_position_last {
        margin-bottom: 90px;
    }
  }

  @media all and (max-width: 320px) {
    .place_position_last {
        margin-bottom: 66px;
    }
  }